@sw:2px;

.memo-editor {
  background-color: @primary3;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: @sw @sw @sw @sw @primary2, -@sw @sw @sw @sw @primary2,
    -@sw -@sw @sw @sw @primary2, @sw -@sw @sw @sw @primary2;

  display: flex;
  flex-direction: column;
  transition: all 100ms ease-in;

  .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .save {
      cursor: pointer;
      font-size: 1rem;
      padding: 0.125rem 0.5rem;
      border-radius: 0.5rem;
      background-color: @primary6;
    }
  }
  &.fullscreen{
    position: fixed;
    top:0;
    left: 0;
    padding: 64px;
    width: 100%;
    height: 100vh;
    .memo-edit {
      flex-grow: 1;
    }
    z-index: 999;
    background-color: @primary1;
  }
}
