.filter-query-container {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  font-size: 0.75rem;
  font-family: monospace;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  &.hidden {
    display: none;
  }
  & > .hidden {
    display: none;
  }

  > .filter-item-container {
    background-color: @primary5;
    max-width: 256px;
    padding: 0.15rem 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &.hidden {
      display: none;
    }

    > .icon-text {
      width: 1rem;
      height: auto;
      margin-right: 0.25rem;
      color: @second8;
    }
  }
}
